//----------- [ Typography Style ] -----------
.paragraph-lineHeight {
  line-height: 30px;
}

.thin-title {
  font-weight: $font-weight--thin !important;
}

.medium-title {
  font-weight: $font-weight--medium !important;
}

.regular-title {
  font-weight: 300 !important;
}

.gradient-text {
  background: $gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header-mainTitle {
  font-size: 35px;
  text-align: center;
  color: white;
  letter-spacing: 0.75px;
  line-height: 45px;
  top: 35%;
}

.header-subTitle {
  @extend .header-mainTitle;
  font-weight: 300;
  font-size: 19px;
  top: 45% !important;
}

//----------- [ Line Style ] -----------
.dashed-border{
  border: 2px dashed lightgray;
}

//----------- [ Borders Style ] -----------

.border-right-gray{
  /* Line: */
  border-right: 1px solid #979797;
}

//----------- [ Borders Radius Style ] -----------
.rounded {
  border-radius: 60px;
}

.rounded-5 {
  border-radius: 6px !important;
}
.rounded-6 {
  border-radius: 6px !important;
}

.rounded-8 {
  border-radius: 8px !important;
}

.rounded-10 {
  border-radius: 10px;
}

.rounded-60 {
  border-radius: 60px;
}

.gradient-borderBottom {
  border: 5px solid transparent;
  -o-border-image: url('/images/line.png') 10 round;
  border-image: url('/images/line.png') 10 round;
  border-top: 0;
}

.border-top-teal {
  border-top: 3px solid teal;
}

//----------- [ Color Style ] -----------
.light-aquamarine {
  background-color: $light-aquamarine;
}

.ocean {
  background-color: $ocean;
}

.white-two {
  background-color: $white-two;
}

.black-color {
  background-color: $black;
}

.black-text-color {
  color: $black;
}

.white {
  background-color: $white;
}

.warm-grey {
  background-color: $warm-grey;
}

.black-darker {
  background-color: $black-darker;
}

.filter-khakestari {
  background-color: $filter-khakestari;
}

.khakestarie-roshan {
  background-color: #F3F3F3 !important;
}

.gradient-background {
  background: $gradient;
}

.gradient-background-horizental {
  background: linear-gradient(-116deg, #007991 0%, #63E7CA 95%);
}

.khakestari-bg {
  background-color: #f7f7f7;
}

//----------- [ Other Style ] -----------
.turnUpsideDown {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.mouse-pointer{
   cursor: pointer;
 }
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575px) {
  .header-mainTitle {
    font-size: 30px;
    line-height: 35px;
    top: 25%;
    padding-right: 10px;
    padding-left: 10px;
  }
  .header-subTitle {
    font-size: 20px;
  }
}

//----------- [ contact us ] -----------
.contact-simpleBox {
  .hi-icon-blue {
    background: #007991;
  }
  .hi-icon-effect-9b .hi-icon-blue:hover {
    box-shadow: 0 0 0 10px rgba(0, 121, 145, 0.4);
    color: #fff;
  }
  .hi-icon-yellow {
    background-color: #fbbc05;
  }
  .hi-icon-effect-9b .hi-icon-yellow:hover {
    box-shadow: 0 0 0 10px rgba(251, 188, 5, 0.4);
    color: #fff;
  }
  .hi-icon-lightBlue {
    background-color: #0088cc;
  }
  .hi-icon-effect-9b .hi-icon-lightBlue:hover {
    box-shadow: 0 0 0 10px rgba(0, 136, 204, 0.4);
    color: #fff;
  }
  .hi-icon-purple {
    background-color: #5851db;
  }
  .hi-icon-effect-9b .hi-icon-purple:hover {
    box-shadow: 0 0 0 10px rgba(88, 81, 219, 0.4);
    color: #fff;
  }
}
