.m-spinner {
  float: left;
  width: 70px;
  height: 35px;
  padding: 0;
  font-size: 1.2em;
  text-transform: uppercase;
  text-align: center;
  color: #888888;
  border:none;
  border-top: 3px solid #dbdbdb;
  border-bottom: 3px solid #dbdbdb;
  background: #EEEEEE;
  outline: none;
  pointer-events: none;
}

span.spinner {
  height: 40px;
  font-size: 14px;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

span.spinner > .sub,
span.spinner > .add {
  float: left;
  display: block;
  width: 35px;
  height: 35px;
  text-align: center;
  font-family: Lato;
  font-weight: 700;
  font-size: 20px;
  line-height: 33px;
  color: whitesmoke;
  background-color: #878889;
  border-radius: 10px 0px 0px 10px;
  border-right: 0;
  cursor: pointer;
  transition: 0.1s linear;
  -o-transition: 0.1s linear;
  -ms-transition: 0.1s linear;
  -moz-transition: 0.1s linear;
  -webkit-transition: 0.1s linear;
}

span.spinner > .add {
  top: 0;
  border-left: 0;
  border: none;
  background-color: #878889;
  border-radius: 0 10px 10px 0;
}

span.spinner > .sub:hover,
span.spinner > .add:hover {
  opacity: 0.9;
}
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}