.l-rtl{
  direction: rtl;
}
.l-autoWidth{
  width:  auto !important;
}
.l-autoHeight{
  height:  auto !important;
}
.l-autoMargin{
  margin: auto;
}
.l-topCornered{
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

#l-footer{
  background-color: $black;
  direction: rtl;
  .row{
    height: 100%;
  }
}

.l-horizental-list{
  list-style-type: none;
  color: white;
  line-height: 45px;
}