.m-card-azhans{
  /* Rectangle 12: */
  background: #FFFFFF;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16);
  border-radius: 8px;
}

//----------- [ Forms Style ] -----------
.m-azshansform-title{
  /* مشخصات ملک: */
  font-weight: bold;
  color: #37BED8;
  margin-right: 20px;
  font-size: 20px;
  letter-spacing: 0.27px;
  margin-bottom: 0;
}
.m-azhansform-line{
  /* Line 4 Copy: */
  border: 4px solid #37BED8;
  width: 50px;
}

.m-form-label {
  color: #949494 ;
  font-size: 14px;
  font-weight: 300;
}

.m-field-title{
  font-size: 15px;
  font-weight: 400;
}
.form-control-feedback{
  color: #69676A;
}

.m-dropzone{
  background-color: #EEEEEE;
  border: 1px dashed;
  border-radius: 6px;

  &:before{
    font-family: FontAwesome !important;
    content: '\f067';
    position: absolute;
    left: 51%;
    color: grey;
    top: 40px;
    margin-top: 8px;
  }
  .dz-message{
    margin-top: 75px !important;
  }
}

//----------- [ Horizontal Material Stepper Style ] -----------
.stepper.horizontal:before {
  content: none !important;
}
ul.stepper.horizontal .step.active .step-title:before, ul.stepper.horizontal .step.done .step-title:before {
  background-color: $abi-roshan !important;
}
ul.stepper.horizontal .step.done .step-title:before {
  font-family: FontAwesome;
  content: '\f00c';
}
ul.stepper{
  padding: 10px 20%;
}
ul.stepper.horizontal{
  position: inherit !important;
}
ul.stepper.horizontal .step{
  flex: 1 !important;
}
ul.stepper.horizontal .step-content{
  height: auto !important;
}
//----------- [ navBar dashboard  ] -----------
.m-dashboard-navbar-padding {
  padding-right: 14.5%;
  padding-left: 14.5%;
}

@media (max-width: 1120px) {
  .m-dashboard-navbar-padding {
    padding-right: 3%;
    padding-left: 3%;
  }
}

.m-dashboard-navBar-btn {
  font-size: 12px;
  font-weight: 400;
  width: 110px;
}

.m-dashboad-nav-dropdown {
  min-width: 7rem !important;
  border-radius: 7px !important;
  margin-left: 5px;
}

.m-dashboard-headerMenu {
  margin-top: -2%;
}

.m-dashboard-headerMenu-item {
  webkit-transition: color 0.3s ease-in;
  transition: color 0.3s ease-in;
}

.m-dashboard-breadcrumbs {
  background-color: transparent !important;
}

.m-dashboard-headerBox {
  margin-top: -120px;
}

.m-dashboard-headerImg {
  height: 400px;
}

@media (max-width: 900px) {
  .m-dashboard-headerImg {
    height: 300px;
  }
}
.m-userPro-color{
  color: dimgray;
  border-top: 1.2px solid;
}

