//----------- [ Horizontal Material Stepper Style ] -----------
.stepper.horizontal:before {
  content: none !important;
}

ul.stepper.horizontal .step.active .step-title:before, ul.stepper.horizontal .step.done .step-title:before {
  background-color: $abi-roshan !important;
}

ul.stepper.horizontal .step.done .step-title:before {
  font-family: FontAwesome;
  content: '\f00c';
}

ul.stepper.horizontal {
  width: 50% !important;
  flex: auto;
  margin: 10px auto;
}

//----------- [ navBar dashboard  ] -----------
.m-dashboard-navbar-padding {
  padding-right: 14.5%;
  padding-left: 14.5%;
}

@media (max-width: 1120px) {
  .m-dashboard-navbar-padding {
    padding-right: 3%;
    padding-left: 3%;
  }
}

.m-dashboard-navBar-btn {
  font-size: 12px;
  font-weight: 400;
  width: 110px;
}

.m-dashboad-nav-dropdown {
  min-width: 7rem !important;
  border-radius: 7px !important;
  margin-left: 5px;
}

.m-dashboard-headerMenu {
  margin-top: -2%;
}

.m-dashboard-headerMenu-item {
  webkit-transition: color 0.3s ease-in;
  transition: color 0.3s ease-in;
}

.m-dashboard-breadcrumbs {
  background-color: transparent !important;
}

.m-dashboard-headerBox {
  margin-top: -120px;
}

.m-dashboard-headerImg {
  height: 400px;
}

@media (max-width: 900px) {
  .m-dashboard-headerImg {
    height: 300px;
  }
}

