//----------- [ Typography Style ] -----------
@for $i from 1 to 50 {
  .hi-lineHeight-#{$i} {
    line-height: #{$i}px;
  }
}

//----------- [ Font Weight Style ] -----------
.hi-font-default{
  font-weight: normal;
}
.hi-font-ultraLight{
  font-weight: 200;
}
.hi-font-light{
  font-weight: 300;
}
.hi-font-medium{
  font-weight: 500;
}
.hi-font-bold{
  font-weight: bold;
}
.hi-font-bolder{
  font-weight: bolder;
}