//----------- [ Typography Style ] -----------
.paragraph-lineHeight{
  line-height: 40px;
}
.thin-title{
  font-weight: $font-weight--thin !important;
}
.medium-title{
  font-weight: $font-weight--medium !important;
}
//----------- [ Line Style ] -----------


//----------- [ Borders Style ] -----------


