//----------- [ Typography Style ] -----------
.paragraph-lineHeight{
  line-height: 40px;
}
.thin-title{
  font-weight: $font-weight--thin !important;
}
.medium-title{
  font-weight: $font-weight--medium !important;
}
//----------- [ Line Style ] -----------


//----------- [ Borders Style ] -----------
.rounded {
  border-radius: 60px;
}

.gradient-borderBottom{
  border: 5px solid transparent;
  -o-border-image: url('/images/line.png') 10 round;
  border-image: url('/images/line.png') 10 round;
  border-top: 0;
}

//----------- [ Color Style ] -----------
.light-aquamarine{
  background-color: $light-aquamarine;
}
.ocean{
  background-color: $ocean;
}
.white-two{
  background-color: $white-two;
}
.black{
  background-color: $black;
}
.white{
  background-color: $white;
}
.warm-grey{
  background-color: $warm-grey;
}
.black-darker{
  background-color: $black-darker;
}




