body {
  background-color: #f7f7f7;
}

.m-small-header {
  height: 255px;
  background: url("/images/header3.jpg");
  background-size: cover;
  background-position-y: -250px;
}

.m-card {
  background: #FFFFFF;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.21);
  border-radius: 5px;
}

//----------- [ Ad Card Style ] -----------
.m-card-image {
  height: 165px;
  width: 100%;
}

.m-card-azhansName {
  background: url(/images/home-icon.png) -2px 289px;
  background-color: #f6f6f6;
  margin: auto;
  width: 25px;
  height: 25px;
  background-size: 30px 400px !important;
  background-repeat-x: no-repeat !important;
}

.home-cost {
  transition: all 0.2s ease;
}

.card-location-icon {
  width: 30px;
  height: 30px;
  background-size: 40px 600px !important;
  background-repeat-x: no-repeat !important;
  background: url(/images/home-icon.png) -5px 475px;
  margin-bottom: 0;
}

.googleplay-icon {
  width: 30px;
  height: 30px;
  background-size: 60px 800px !important;
  background-repeat-x: no-repeat !important;
  background: url(/images/home-icon.png) -15px 505px;
  margin-bottom: 0;
}

.bazar-icon {
  width: 30px;
  height: 30px;
  background-size: 50px 700px !important;
  background-repeat-x: no-repeat !important;
  background: url(/images/home-icon.png) -5px 295px;
  margin-bottom: 0;
}

.m-card-location {
  display: flex;
  align-items: center;
  justify-content: center;
}

.m-card-moreInfo {
  font-size: 11px;
  margin-bottom: 0;
  border-radius: 6px;
  transition: all 0.3s ease;
}

.m-card [data-balloon]:after {
  background: #f6f6f6;
  border-radius: 2px;
  color: gray;
  font-size: 9px;
  margin-bottom: 5px;
  left: 180% !important;
}

.m-card [data-balloon]:before {
  background: url(/images/down.png);
  background-size: 8px 6px;
  background-repeat-x: no-repeat;
  margin-bottom: 0;
}

.m-card {
  .hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active {
    background-image: linear-gradient(-229deg, #007991 0%, #63E7CA 100%);
    color: white;
  }
}

//----------- [ Buttons Style ] -----------

.m-btn {
  border-radius: 8px;
  color: $white;
  cursor: pointer;
  font-size: 12px;
  padding: 8px 10px;
  border: transparent;
  font-weight: 200;
  transition: all 0.3s ease;

  &:hover {
    -webkit-filter: brightness(120%);
  }
}

.m-btn-outline {
  border: 1px solid #FFFFFF;
  background: transparent;
  margin-left: 147px;
  margin-top: 5px;
}

.m-btn-gradient {
  border: transparent;
  background: $gradient;
  margin-left: 10px;
  margin-top: 5px;
  font-weight: 500;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.27) !important;
}

.m-btn-appdl {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.50);
  border-radius: 60px;
  width: 100%;
  padding-bottom: 15px;
  padding-top: 15px;
  font-size: 15px;
}

.m-btn-gradientOutline {
  cursor: pointer;
  padding-top: 0.1px;
  padding-bottom: 0.1px;
  button {
    width: 98% !important;
    margin: 2px;
    height: 95%;
    padding: 7px 14px;
    border: none;
    cursor: pointer;
  }
}

//----------- [ Lists Style ] -----------

.m-horizental-list {
  padding-right: 30px;
  border-right: 1px solid lightgray;

  li {
    opacity: .65;
    transition: all 0.3s ease;
    -webkit-font-smoothing: antialiased;
    &:hover {
      cursor: pointer;
      opacity: 1;
      filter: brightness(1.7);
      -webkit-filter: brightness(1.7);
      font-size: 17px;
    }
  }
}

.m-horizental-category {
  padding-right: 30px;
  li {
    transition: all 0.3s ease;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    &:hover {
      cursor: pointer;
      filter: brightness(.7);
      -webkit-filter: brightness(.7);
    }
  }
  &:first-of-type {
    border-left: 1px solid dimgray;
  }
}

.m-horizental-SN {
  padding-right: 0;
  border-left: transparent !important;
  a {
    display: flex;
  }
  p {
    margin-bottom: 0
  }
}

//----------- [ Footer Logo Style ] -----------
.m-footer-logo {

  width: 70%;
}

.m-footer-about {
  font-size: 14px;
  font-weight: 100;
  line-height: 30px;
  padding-right: 30px;
  color: whitesmoke;
}

.m-Sn-icon {
  width: 50px;
  height: 40px;
  background-size: 70px 900px !important;
  background-repeat-x: no-repeat !important;
  flex: 1;
}

.m-telegram-icon {
  background: url('/images/home-icon.png') no-repeat repeat 0 240px;
}

.m-instagram-icon {
  background: url('/images/home-icon.png') no-repeat repeat 0 50px;
}

.m-twitter-icon {
  background: url('/images/home-icon.png') no-repeat repeat 0 175px;
}

.m-facebook-icon {
  background: url('/images/home-icon.png') no-repeat repeat 0 113px;
}

.openPost-home-icon {
  background: url('/images/open-post-icon.png') no-repeat repeat 0 113px;
}
.openPost-emkanat-icon {
  background: url('/images/open-post-icon.png') no-repeat repeat 0 113px;
}
.openPost-map-icon {
  background: url('/images/open-post-icon.png') no-repeat repeat 0 113px;
}


//----------- [ navBar ] -----------

.m-navBar {
  background-color: #282828;
}

.m-navBar-brand {
  color: white !important;
}

.m-navBar-link {
  -webkit-transition: height 2s linear;
}

.m-navBar-link {
  content: '';
  display: block;
  -webkit-transition: width .3s;
  transition: width .3s;
}

.m-navBar-link {
  color: white !important;
  font-weight: 400;
  font-size: 14px;
  -webkit-transition: color 0.3s ease-in;
  -moz-transition: color 0.3s ease-in;
  -o-transition: color 0.3s ease-in;
  -ms-transition: color 0.3s ease-in;
  transition: color 0.3s ease-in;
}

.m-navBar-link:focus, .m-navBar-link:hover {
  color: #73f9d3 !important;
}

.m-navBar-activeLink {
  color: #73f9d3 !important;
}

.m-navBar-btn {
  font-size: 14px;
  font-weight: 400;
  width: 100px;
}

.m-navBar-toggler {
  vertical-align: middle;
  background-color: white;
}

//----------- [ navBar open from side ] -----------

//----------- [ Footer Icons Style ] -----------
.m-footer-logo {
  width: 70%;
}

.m-footer-about {
}

//----------- [ about us ] -----------

.m-aboutUs {
  background-color: #2aafe4;
  padding-top: 3%;
  padding-bottom: 2%;
}

.m-aboutUs-tel {
  direction: ltr;
  font-size: 19px;
}

.m-aboutUs-msg, .m-aboutUs-tel {
  color: white;
  font-weight: $font-weight--medium !important;
  line-height: normal;
}

@media (max-width: 1000px) {
  .m-aboutUs-msg, .m-aboutUs-tel {
    text-align: center;
  }
}

//----------- [ gradient box ] -----------

.m-profileBox-sublayer {
  border-radius: 18px;
  width: 100%;
  background: $gradient;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.29);
  -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.29);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.29);
}

.m-profileBox-upperLayer {
  border-radius: 18px;
  width: 100%;
  background: white;
  margin-left: 1.3%;
}

//----------- [ breadcrumb ] -----------
.m-breadcrumb {
  padding: 1.15% 3.4% 1.15% 3.4%;
  background-color: white;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.10);
  -moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.10);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.10);
}

.m-breadcrumb-item {
  float: right;
  font-size: 14px;
  font-weight: 400;
}

//----------- [ list item information  ] -----------
.m-list-homeItem {
  border-top: 1px solid #eeeeee !important;
}

//----------- [ Icons Style ] -----------
.m-telegram-icon {
  background: url('/images/home-icon.png') no-repeat repeat 0 240px;
}

.m-list-home {
  background-color: white;
}

.m-list-homeItem-l {
  font-size: 14px;
  font-weight: 400;
  padding-top: 2.5%;
}

.m-list-homeItem-r {
  font-size: 16px;
  font-weight: 400;
  padding-top: 7.4%;
}

//----------- [ facilities ] -----------

.m-facilities-title {
  color: $ocean;
  font-size: 17px;
}

.m-facilities-checkText {
  font-weight: 500;
  font-size: 15px;
}

.m-facilities-hr {
  border-top-color: #EEEEEE;
}

.m-facilities-cardBox {
  background-color: white;
  padding: 2.5%;
  border-radius: 12px;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.10);
  -moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.10);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.10);
}

//----------- [ pagination ] -----------

.m-pagination-angle {
  font-family: FontAwesome;
}

.m-pagination-num {
  padding: 9.5px 12px 9.5px 12px;
}

//----------- [ Filter Nav ] -----------
.m-filter-nav {
  .nav-tabs {
    border-bottom: transparent !important;
  }
  .nav-tabs .nav-link {
    border: transparent !important;
    background: transparent;
  }
  .nav-item {
    font-size: 14px;
    padding: 2px 5px;
    transition: all 0.2s ease-in;

    &:hover, &:focus {
      color: #4db6ac;
      outline: none;
    }
  }
  [aria-expanded="true"] {
    color: #4db6ac !important;
  }
}

//----------- [ Costs Filter ] -----------
.m-slider-place {
  background-color: $white;
  padding: 40px 50px;
  border-radius: 6px;
  border-top: 3px solid #dbdbdb;
}

.noUi-horizontal .noUi-handle {
  width: 22px !important;
  height: 22px !important;
  left: -11px !important;
  top: -8px !important;
}

.noUi-handle:focus {
  outline: none;
}

.noUi-base {
  background: $gradient;
  border-radius: 20px;
}

.noUi-handle {
  border-radius: 50% !important;
  background-color: $ocean !important;
  border: none !important;
  cursor: pointer;
  /* Oval Copy: */
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.34);
}

.noUi-handle:before {
  display: none !important;
}

.noUi-handle:after {
  background-color: $ocean !important;
  width: 8px !important;
  height: 8px !important;
  border-radius: 25px !important;
  left: 7px !important;
  top: 7px !important;
}

.noUi-target {
  box-shadow: none !important;
  border: none !important;
  background-color: transparent;
}

.noUi-horizontal {
  height: 5px !important;
}

.noUi-connect {
  /* Rectangle 7: */
  background-image: linear-gradient(-116deg, #007991 0%, #63E7CA 95%);
  box-shadow: none !important;
}

.noUi-tooltip {
  font-size: 11px !important;
  border: none !important;
  background-color: transparent !important;
  bottom: -120% !important;
  color: black !important;
  direction: rtl !important;
}

.m-pagination-angle, .m-pagination-num {
  color: #3c3d41;
  font-weight: 100;
}

.m-pagination-num:focus {
  background-color: $ocean !important;
  color: white !important;
}

.m-pagination-angleLink:focus {
  background-color: $ocean !important;
  color: white;
}

//----------- [ horizental card ] -----------

.m-horizentalCard-box {
  border-radius: 10px;
  background-color: white;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.29);
  -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.29);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.29);
}

.m-horizentalCard-img {
  border-radius: 10px;
}

.m-horizentalCard-title {
  font-size: 15px;
}

.m-horizentalCard-exp {
  font-size: 13px;
  font-weight: 400;
  line-height: normal;
}

.m-horizentalCard-moreExp {
  font-size: 11px;
  color: #949494;
}

.m-horizentalCard-btn {
  font-size: 12px;
  width: 80px;
  border-radius: 5px;
  float: left;
}

//----------- [ real state info ] -----------

.m-realState-info {
}

.m-realState-detailInfo {
  font-size: 14px;
  line-height: normal;
}

.m-icon-scoop {
  border-radius: 60px;
  width: 34px;
  height: 34px;
  -webkit-box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.60);
  -moz-box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.60);
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.60);
}

//----------- [ fields ] -----------

.m-field {
  border-radius: 4px;
  border: transparent;
  border-top: 3px solid #dbdbdb;
  background-color: $white;
}

.m-field.form-control:focus {
  background-color: $white;
  border: transparent;
  border-top: 3px solid teal;
}

.form-control-label {
  //@extend .gradient-text;
  color: $ocean;
}

/* ============[ Top Bar Dropdown ]=========== */

.Topbar_dropdown_container {
  padding-top: 10px;
  padding-right: 0;
  margin-right: -50px;
}

.Topbar_dropdown {

  .btn-group {
    width: 100%;
  }
  .dropdown-toggle.btn {
    margin-top: auto;
    text-align: right;
    margin-bottom: auto;
    font-weight: normal;
    color: black;
    width: 100%;
    transition: none;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    font-size: 14px;
    padding-top: 13px;
    padding-bottom: 13px;
    border-radius: 6px !important;

    &:hover {
      cursor: pointer;
    }
    &:focus {
      border-top: 2px solid teal;
    }
  }
  .dropdown-toggle {
    background-color: $white !important;
    border: transparent;
    border-top: 2px solid #dbdbdb;
    color: black !important;
    outline: none;
  }
  .dropdown-toggle::before {
    font-family: "FontAwesome";
    content: "\f078";
    border: none;
    float: left;
    color: gray;
  }
  .dropdown-toggle::after {
    content: none !important;
  }

  li {
    font-weight: $font-weight--light !important;
    font-size: 13px;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    color: black;

    &:active {
      background-color: transparent !important;
      outline: none;
    }
    &:hover {
      background-color: $white-two;
      cursor: pointer;
    }
  }
  .dropdown-menu {
    border: transparent;
    padding-top: 0;
    padding-bottom: 0;
    /* Rectangle 35: */
    background: #FFFFFF;
    width: 100%;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.15);
    border-radius: 3px;
  }

  .dropdown-divider {
    background-color: grey;
  }

  label {
    width: 100%;
    text-align: right;

    input {
      margin-left: 5px;
    }
  }

}
.m-narrow-dropDown{
  .dropdown-toggle{
    padding: 8px 20px !important;
  }
  .multiselect-selected-text{
    margin-left: 40px !important;
  }
}

/* ============[ Hamkaran Style ]=========== */
.m-carousel-cell {
  width: 100%;
  height: 360px;
  margin-right: 10px;
  counter-increment: gallery-cell;
  img {
    width: 120px;
  }
}

.carousel {
  height: 360px !important;
  width: 100%;
}

.l-azhanseHamkar{
  .flickity-page-dots .dot {
    width: 14px;
    height: 14px;
    background: #CBCBCB;
    transition: all 0.3s ease;
  }

  .flickity-page-dots .dot.is-selected {
    opacity: 1;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24) !important;
    transform: scale(1.3);
    background-color: #73F9D4 !important;
  }
}


/* ============[ Open Post Gallery Style ]=========== */
map > div {
  border-radius: 10px;
}
#google-map {
  -webkit-border-radius:0 0  10px 10px;
  z-index:0;
}

/* ============[ Digital Painting Style ]=========== */

.digitalPainting-title {
  margin-top: -90px;
}

.painting-comma {
  width: 50px;
}

.painting-comma.secondComma {
  position: absolute;
  bottom: 0;
  right: 0;
}

/* ============[ Main Filter Style ]=========== */
.m-curved-bg {
  width: 100%;
  z-index: 1000000;
  border-radius: 15px !important;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.22);
}

.m-gradient-placeholder {
  width: 99.5%;
  border-radius: 15px;
  margin: 0 auto 0 0;
  height: 124px;
  background-color: white;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.22);
}

.m-filters-placeholder {
  width: 100%;
  border-radius: 15px;
  height: 124px;
  background-color: #f4f4f4;

  label {
    color: #949494;
    font-size: 14px;
    font-weight: 300;
  }
}

@-webkit-keyframes gradientAnime {
  0% {
    background-position: 0 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0 50%
  }
}

@-moz-keyframes gradientAnime {
  0% {
    background-position: 0 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0 50%
  }
}

@keyframes gradientAnime {
  0% {
    background-position: 0 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0 50%
  }
}

.filter-search-btn {
  height: 100%;
  border-radius: 15px 0 0 15px;
  //background: -webkit-gradient(linear, left top, left bottom, from(#007991), to(#63E7CA));
  //background: linear-gradient(-180deg, #007991 0%, #63E7CA 100%);
  border: none;
  color: white;
  cursor: pointer;
  display: grid;
  width: 100%;
  font-size: 17px;
  padding-top: 15px;

  background: linear-gradient(83deg, #007991, #63e7ca);
  background-size: 400% 400%;
  -webkit-animation: gradientAnime 12s ease infinite;
  -moz-animation: gradientAnime 12s ease infinite;
  animation: gradientAnime 12s ease infinite;

  i {
    font-size: 40px;
  }
}

// baraie rafe moshkele safari
.filter-search-btn:not(:root:root) {
  height: 125px;
}

.m-filters-btn {
  height: 100%;
  text-align: center;
  background: white;
  cursor: pointer;
  border-width: 1px 1px 1px 0;
  border-style: solid;
  border-image: linear-gradient(-180deg, #007991 0%, #63E7CA 100%) 1 100%;

  i, .filter-selected {
    color: $filter-khakestari;
  }
  .filter-type {
    margin-top: 17px;
    font-size: 12px;
  }
  .filter-selected {
    font-size: 15px;
    direction: rtl;
  }
}

#filters-moamele-btn {
  border-radius: 0 15px 15px 0;
  border-right: 0;
}

#filters-row {
  z-index: 10000;
}

#filters-tray-row, #costs-tray-row, #metraj-tray-row {
  z-index: 0;
}

#costs-tray-row {
  margin-right: 30rem;
}

#metraj-tray-row {
  margin-right: 10rem;
}

/* ============[ Media Queries ]=========== */

// Large devices (desktops, less than 1200px)
@media (max-width: 1199px) {

}

// Medium devices (tablets, less than 992px)
@media (max-width: 991px) {
  #costs-tray-row {
    margin-right: 23rem;
  }
  #metraj-tray-row {
    margin-right: 8rem;
  }
}

// Medium devices (tablets, less than 992px)
@media (min-width: 992px) {

}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767px) {
  #costs-tray-row {
    margin-right: 10rem;
  }
  #metraj-tray-row {
    margin-right: 10rem;
  }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575px) {
  #costs-tray-row {
    margin-right: 20rem;
  }
  .m-gradient-placeholder, .m-filters-placeholder {
    height: 100%;
  }
  #filters-moamele-btn {
    border-radius: 0 0px 15px 15px;
    border-right: transparent;
  }
  .filter-search-btn {
    border-radius: 15px 15px 0 0;
  }
  .m-filters-btn {
    border-image: none;
    border: transparent;
    border-bottom: 0.3px solid teal !important;
  }
  #costs-tray-row {
    margin-right: 0rem;
    .row {
      padding-top: 7px;
      padding-bottom: 7px;
    }
  }
  #metraj-tray-row {
    margin-right: 0rem;
    .row {
      padding-top: 7px;
      padding-bottom: 7px;
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}

// extra code

@media screen and (max-width: 767px) {
  .navbar-nav {
    margin: 0;
  }
  /* General styles for all menus */
  .cbp-spmenu {
    background: #f8f8f8;
    position: fixed;
    padding: 0;
    margin: 0 !important;
    overflow-x: hidden;
    overflow-y: visible;
    display: block;
  }
  .cbp-spmenu h3 {
    color: #afdefa;
    font-size: 1.9em;
    padding: 20px;
    margin: 0;
    font-weight: 300;
    background: #0d77b6;
  }
  .cbp-spmenu a {
    display: block;
  }
  /* Orientation-dependent styles for the content of the menu */
  .cbp-spmenu-vertical {
    width: 260px;
    height: 100%;
    top: 0;
    z-index: 1000;
  }
  .cbp-spmenu-horizontal {
    width: 100%;
    height: 150px;
    left: 0;
    z-index: 1000;
    overflow: hidden;
  }
  .cbp-spmenu-horizontal h3 {
    height: 100%;
    width: 20%;
    float: left;
  }
  .cbp-spmenu-horizontal a {
    float: left;
    width: 20%;
    padding: 0.8em;
    border-left: 1px solid #258ecd;
  }
  /* Vertical menu that slides from the left or right */
  .cbp-spmenu-left {
    left: -260px;
  }
  .cbp-spmenu-right {
    right: -260px;
  }
  .cbp-spmenu-left.cbp-spmenu-open {
    left: 0px;
  }
  .cbp-spmenu-right.cbp-spmenu-open {
    right: 0px;
  }
  /* Horizontal menu that slides from the top or bottom */
  .cbp-spmenu-top {
    top: -150px;
  }
  .cbp-spmenu-bottom {
    bottom: -150px;
  }
  .cbp-spmenu-top.cbp-spmenu-open {
    top: 0px;
  }
  .cbp-spmenu-bottom.cbp-spmenu-open {
    bottom: 0px;
  }
  /* Push classes applied to the body */
  .cbp-spmenu-push {
    overflow-x: hidden;
    position: relative;
    left: 0;
  }
  .cbp-spmenu-push-toright {
    left: 260px;
  }
  .cbp-spmenu-push-toleft {
    left: -260px;
  }
  /* Transitions */
  .cbp-spmenu,
  .cbp-spmenu-push {
    -webkit-transition: all 1.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
}

.navbar-toggle {
  border: none;
  background: transparent !important;
}

.navbar-toggle:hover {
  background: transparent !important;
}

.navbar-toggle .icon-bar {
  width: 22px;
  transition: all 0.2s;
}

.navbar-toggle .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}

.navbar-toggle .middle-bar {
  opacity: 0;
}

.navbar-toggle .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}

.navbar-toggle.collapsed .top-bar {
  transform: rotate(0);
}

.navbar-toggle.collapsed .middle-bar {
  opacity: 1;
}

.navbar-toggle.collapsed .bottom-bar {
  transform: rotate(0);
}

//----------- [ estate pro page ] -----------
.header-z-index {
  z-index: 0;
}

.m-rounded-scope {
  background-color: white;
  border-radius: 100px;
  -webkit-box-shadow: 0px 0.5px 1px 0px rgba(0, 0, 0, 0.60);
  -moz-box-shadow: 0px 0.5px 1px 0px rgba(0, 0, 0, 0.60);
  box-shadow: 0px 0.5px 1px 0px rgba(0, 0, 0, 0.60);
}

.m-rounded-stateImg {
  border-radius: 120px;
}

.map-box {
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.29);
  -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.29);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.29);
}

.m-estatePro-mapTitle {
  font-size: 18px;
  color: $ocean;
}

.estatePro-cards-title {
  font-size: 17px;
  font-weight: 500;
}

.estate-category-box {
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.29);
  -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.29);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.29);
  background-color: white;
  border-radius: 15px;
}

.estate-category {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.estate-category-item {
  float: right;
}

.estate-category-item a {
  display: block;
  text-align: center;
  padding: 10px 26px 10px 26px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
}

a.estate-category-link {
  color: black;
  webkit-transition: color 0.3s ease-in;
  transition: color 0.3s ease-in;
}

a.estate-category-link:hover {
  color: $ocean !important;
}

@media (max-width: 1250px) {
  .estate-category-item a {
    padding: 10px 17px 10px 17px;
  }
}

@media (max-width: 765px) {
  .estate-category-item a {
    padding: 10px 13px 10px 13px;
  }
}

@media (max-width: 565px) {
  .estate-category-item a {
    padding: 10px 8px 10px 8px;
  }
}

@media (max-width: 320px) {
  .estate-category-item a {
    padding: 10px 3px 10px 3px;
  }
}

.infinity-scrolling-box {
  background-color: white;
  -webkit-box-shadow: 0px -0.5px 5px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px -0.5px 5px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px -0.5px 5px 0px rgba(0, 0, 0, 0.1);
}

//----------- [ contact us page ] -----------
.header-text-box {
  position: relative;
}

.header-caption {
  position: absolute;
  top: 59%;
  left: 0;
  width: 100%;
  color: white;
}

@media (max-width: 983px) {
  .header-caption {
    top: 45%;
  }
}

.contact-extra-exp {
  line-height: normal;
  font-size: 18px;
}

.contact-simpleBox {
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.29);
  -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.29);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.29);
  border-radius: 18px;
  width: 100%;
  background-color: white;
}

.contact-simpleBox {
  .hi-icon {
    display: inline-block;
    font-size: 0;
    cursor: pointer;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    text-align: center;
    position: relative;
    z-index: 1;
    color: #fff;
    padding-top: 32%;
  }

  .hi-icon:after {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    content: '';
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
  }

  .hi-icon:before {
    speak: none;
    font-size: 48px;
    line-height: 90px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    display: block;
    -webkit-font-smoothing: antialiased;
  }
  .contactIcon-scopes {
    border-radius: 50%;
    width: 90px;
    height: 90px;
  }
  /* Effect 9 */
  .hi-icon-effect-9 .hi-icon {
    -webkit-transition: box-shadow 0.2s;
    -moz-transition: box-shadow 0.2s;
    transition: box-shadow 0.2s;
  }

  .hi-icon-effect-9 .hi-icon:after {
    top: 0;
    left: 0;
    padding: 0;
    box-shadow: 0 0 0 3px #fff;
    -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
    -moz-transition: -moz-transform 0.2s, opacity 0.2s;
    transition: transform 0.2s, opacity 0.2s;
  }

  /* Effect 9b */
  .hi-icon-effect-9b .hi-icon:hover:after {
    -webkit-transform: scale(0.85);
    -moz-transform: scale(0.85);
    -ms-transform: scale(0.85);
    transform: scale(0.85);
  }

  .hi-icon-blue {
    background: #007991;
  }
  .hi-icon-effect-9b .hi-icon-blue:hover {
    box-shadow: 0 0 0 10px rgba(0, 121, 145, 0.4);
    color: #fff;
  }
  .hi-icon-yellow {
    background-color: #fbbc05;
  }
  .hi-icon-effect-9b .hi-icon-yellow:hover {
    box-shadow: 0 0 0 10px rgba(251, 188, 5, 0.4);
    color: #fff;
  }
  .hi-icon-lightBlue {
    background-color: #0088cc;
  }
  .hi-icon-effect-9b .hi-icon-lightBlue:hover {
    box-shadow: 0 0 0 10px rgba(0, 136, 204, 0.4);
    color: #fff;
  }
  .hi-icon-purple {
    background-color: #5851db;
  }
  .hi-icon-effect-9b .hi-icon-purple:hover {
    box-shadow: 0 0 0 10px rgba(88, 81, 219, 0.4);
    color: #fff;
  }
}

.contactWay-title {
  color: #949494;
  font-weight: 400;
}

//----------- [ about us page ] -----------
.header-text-box {
  position: relative;
}

.header-caption-about{
  position: absolute;
  top: 66%;
  left: 0;
  width: 100%;
  color: white;
  font-weight: 400;
}

@media (max-width: 983px) {
  .header-caption-about {
    top: 52%;
  }
}

.header-chevron-down{
  position: absolute;
  top: 80%;
  left: 0;
  width: 100%;
  color: white;
}
.aboutUs-description-img{
  position: relative;
}
.topRight{
  position: absolute;
  top: 40px;
  right: 25px;
  z-index: 1;
}
.bottomLeft{
  position: absolute;
  bottom: 40px;
  left: 25px;
  z-index: 1;
}
.main-description-about-us{
  position: relative;
  line-height: 2.5;
  z-index: 1000;
}
.m-btn-contact-peykhoone{
  border-radius: 8px;
  color: #f4f4f4;
  cursor: pointer;
  font-size: 16px;
  padding: 9px 10px;
  border: transparent;
  font-weight: 300;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.m-btn-contact-peykhoone:hover {
  -webkit-filter: brightness(120%);
}
.singlePage-description{
  line-height: 2;
}
