.m-card {
  background: #FFFFFF;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.21);
  border-radius: 5px;
}

//----------- [ Ad Card Style ] -----------
.m-card-image{
  height: 165px;
  width: 100%;
}
.m-card-azhansName{
  background: url(/images/home-icon.png) -2px 289px;
  background-color: #f6f6f6;
  margin: auto;
  width: 25px;
  height: 25px;
  background-size: 30px 400px !important;
  background-repeat-x: no-repeat !important;
}

.home-cost{
  transition: all 0.2s ease;
}

.card-location-icon{
  width: 30px;
  height: 30px;
  background-size: 40px 600px !important;
  background-repeat-x: no-repeat !important;
  background: url(/images/home-icon.png) -5px 475px;
  margin-bottom: 0;
}
.googleplay-icon{
  width: 30px;
  height: 30px;
  background-size: 60px 800px !important;
  background-repeat-x: no-repeat !important;
  background: url(/images/home-icon.png) -15px 505px;
  margin-bottom: 0;
}
.bazar-icon{
  width: 30px;
  height: 30px;
  background-size: 50px 700px !important;
  background-repeat-x: no-repeat !important;
  background: url(/images/home-icon.png) -5px 295px;
  margin-bottom: 0;
}

.m-card-location{
  display: flex;
  align-items: center;
  justify-content: center;
}

.m-card-moreInfo{
  font-size: 11px;
  margin-bottom: 0;
  border-radius: 6px;
  transition: all 0.3s ease;
}

.m-card [data-balloon]:after{
  background: #f6f6f6;
  border-radius: 2px;
  color: gray;
  font-size: 9px;
  margin-bottom: 5px;
  left: 180% !important;
}
.m-card [data-balloon]:before {
  background: url(/images/down.png);
  background-size: 8px 6px;
  background-repeat-x: no-repeat;
  margin-bottom: 0;
}

.m-card{
  .hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active {
    background-image: linear-gradient(-229deg, #007991 0%, #63E7CA 100%);
    color: white;
  }
}


//----------- [ Buttons Style ] -----------

.m-btn {
  border-radius: 8px;
  color: $white;
  cursor: pointer;
  font-size: 12px;
  padding: 8px 10px;
  border: transparent;
  font-weight: 200;
  transition: all 0.3s ease;

  &:hover {
    -webkit-filter: brightness(120%);
  }
}

.m-btn-outline {
  border: 1px solid #FFFFFF;
  padding-right: 19px;
  padding-left: 19px;
  background: transparent;
  margin-left: 147px;
  margin-top: 5px;
}

.m-btn-gradient {
  border: transparent;
  padding-right: 26px;
  padding-left: 26px;
  background: $gradient;
  margin-left: 10px;
  margin-top: 5px;
  font-weight: 500;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.27) !important;
}

.m-btn-appdl {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.50);
  border-radius: 60px;
  width: 100%;
  padding-bottom: 15px;
  padding-top: 15px;
  font-size: 15px;
}

.m-btn-gradientOutline {
  cursor: pointer;
  padding-top: 0.1px;
  padding-bottom: 0.1px;
  button{
    width: 98%;
    margin: 2px;
    height: 95%;
    padding: 7px 14px;
    border: none;
    cursor: pointer;
  }
}

//----------- [ Lists Style ] -----------

.m-horizental-list {
  padding-right: 30px;
  border-right: 1px solid lightgray;

  li {
    opacity: .65;
    transition: all 0.3s ease;
    -webkit-font-smoothing: antialiased;
    &:hover {
      cursor: pointer;
      opacity: 1;
      filter: brightness(1.7);
      -webkit-filter: brightness(1.7);
      font-size: 17px;
    }
  }
}

.m-horizental-category {
  padding-right: 30px;
  li {
    transition: all 0.3s ease;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    &:hover {
      cursor: pointer;
      filter: brightness(.7);
      -webkit-filter: brightness(.7);
    }
  }
  &:first-of-type {
    border-left: 1px solid dimgray;
  }
}

.m-horizental-SN {
  padding-right: 0;
  border-left: transparent !important;
  a {
    display: flex;
  }
  p {
    margin-bottom: 0
  }
}
//----------- [ Footer Logo Style ] -----------
.m-footer-logo {

  width: 70%;
}

.m-footer-about {
  font-size: 14px;
  font-weight: 100;
  line-height: 30px;
  padding-right: 30px;
  color: whitesmoke;
}

.m-Sn-icon {
  width: 50px;
  height: 40px;
  background-size: 70px 900px !important;
  background-repeat-x: no-repeat !important;
  flex: 1;
}

.m-telegram-icon {
  background: url('/images/home-icon.png') no-repeat repeat 0 240px;
}

.m-instagram-icon {
  background: url('/images/home-icon.png') no-repeat repeat 0 50px;
}

.m-twitter-icon {
  background: url('/images/home-icon.png') no-repeat repeat 0 175px;
}

.m-facebook-icon {
  background: url('/images/home-icon.png') no-repeat repeat 0 113px;
}

//----------- [ navBar ] -----------

.m-navBar {
  background-color: #282828;
}

.m-navBar-brand {
  color: white !important;
}

.m-navBar-link {
  -webkit-transition: height 2s linear;
}

.m-navBar-link {
  content: '';
  display: block;
  -webkit-transition: width .3s;
  transition: width .3s;
}

.m-navBar-link {
  color: white !important;
  font-weight: 400;
  font-size: 14px;
  -webkit-transition:color 0.3s ease-in;
  -moz-transition:color 0.3s ease-in;
  -o-transition:color 0.3s ease-in;
  -ms-transition:color 0.3s ease-in;
  transition:color 0.3s ease-in;
}

.m-navBar-link:focus, .m-navBar-link:hover {
  color: #73f9d3 !important;
}

.m-navBar-activeLink {
  color: #73f9d3 !important;
}

.m-navBar-btn {
  font-size: 14px;
  font-weight: 400;
  width: 100px;
}

.m-navBar-toggler {
  vertical-align: middle;
  background-color: white;
}

//----------- [ navBar open from side ] -----------

//----------- [ Footer Icons Style ] -----------
.m-footer-logo{
  width: 70%;
}
.m-footer-about {
}
//----------- [ about us ] -----------

.m-aboutUs {
  background-color: #2aafe4;
  padding-top: 3%;
  padding-bottom: 2%;
}

.m-aboutUs-tel {
  direction: ltr;
  font-size: 19px;
}

.m-aboutUs-msg, .m-aboutUs-tel {
  color: white;
  font-weight: $font-weight--medium !important;
  line-height: normal;
}

@media (max-width: 1000px) {
  .m-aboutUs-msg, .m-aboutUs-tel {
    text-align: center;
  }
}

//----------- [ gradient box ] -----------

.m-profileBox-sublayer {
  border-radius: 18px;
  height: 210px;
  width: 100%;
  background: $gradient;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.29);
  -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.29);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.29);
}

.m-profileBox-upperLayer {
  border-radius: 18px;
  height: 210px;
  width: 100%;
  background: white;
  margin-left: 1.3%;
}

//----------- [ breadcrumb ] -----------
.m-breadcrumb {
  padding: 1.15% 3.4% 1.15% 3.4%;
  background-color: white;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.10);
  -moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.10);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.10);
}

.m-breadcrumb-item {
  float: right;
  font-size: 14px;
  font-weight: 500;
}

//----------- [ list item information  ] -----------
.m-list-homeItem {
  border-top: 1px solid #eeeeee !important;
}

//----------- [ Icons Style ] -----------
.m-telegram-icon {
  background: url('/images/home-icon.png') no-repeat repeat 0 240px;
}
.m-list-home {
  background-color: white;
}

.m-list-homeItem-l {
  font-size: 14px;
  font-weight: 400;
  padding-top: 2.5%;
}

.m-list-homeItem-r {
  font-size: 16px;
  font-weight: 400;
  padding-top: 7.4%;
}

//----------- [ facilities ] -----------

.m-facilities-title {
  color: $ocean;
  font-size: 17px;
}

.m-facilities-checkText {
  font-weight: 500;
  font-size: 15px;
}

.m-facilities-hr {
  border-top-color: #EEEEEE;
}

.m-facilities-cardBox {
  background-color: white;
  padding: 2.5%;
  border-radius: 12px;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.10);
  -moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.10);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.10);
}

//----------- [ pagination ] -----------

.m-pagination-angle {
  font-family: FontAwesome;
}

.m-pagination-num {
  padding: 9.5px 12px 9.5px 12px;
}
//----------- [ Filter Nav ] -----------
.m-filter-nav{
  .nav-tabs{
    border-bottom: transparent !important;
  }
  .nav-tabs .nav-link{
    border:transparent !important;
    background: transparent;
  }
  .nav-item{
    font-size: 14px;
    padding: 2px 5px;
    transition: all 0.2s ease-in;

    &:hover,&:focus{
      color: #4db6ac;
      outline: none;
    }
  }
  [aria-expanded="true"]{
    color: #4db6ac !important;
  }
}

//----------- [ Costs Filter ] -----------
.m-slider-place{
  background-color: $white;
  padding: 40px 50px;
  border-radius: 6px;
  border-top: 3px solid #dbdbdb;
}
.noUi-horizontal .noUi-handle {
  width: 22px !important;
  height: 22px !important;
  left: -11px !important;
  top: -8px !important;
}
.noUi-handle:focus{
  outline: none;
}
.noUi-base{
  background: $gradient;
  border-radius: 20px;
}
.noUi-handle{
  border-radius: 50% !important;
  box-shadow: none !important;
  background-color: $ocean !important;
  border: none !important;
}
.noUi-handle:before{
  display: none !important;
}
.noUi-handle:after {
  background-color: $ocean !important;
  width: 8px !important;
  height: 8px !important;
  border-radius: 25px !important;
  left: 7px !important;
  top: 7px !important;
}
.noUi-target{
  box-shadow: none !important;
  border: none !important;
  background-color: transparent;
}
.noUi-horizontal {
  height: 5px !important;
}
.noUi-connect{
  background-color: $gradient !important;
}
.noUi-tooltip{
  font-size: 11px !important;
  border: none !important;
  background-color: transparent !important;
  bottom: -120% !important;
  color: black !important;
}

.m-pagination-angle, .m-pagination-num {
  color: #3c3d41;
}

.m-pagination-num:focus {
  background-color: $ocean !important;
  color: white !important;
}

.m-pagination-angleLink:focus {
  background-color: $ocean !important;
  color: white;
}

//----------- [ horizental card ] -----------

.m-horizentalCard-box {
  border-radius: 10px;
  background-color: white;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.29);
  -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.29);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.29);
}

.m-horizentalCard-img {
  border-radius: 10px;
}

.m-horizentalCard-title {
  font-size: 15px;
}

.m-horizentalCard-exp {
  font-size: 13px;
  font-weight: 400;
  line-height: normal;
}

.m-horizentalCard-moreExp {
  font-size: 11px;
  color: #949494;
}

.m-horizentalCard-btn {
  font-size: 12px;
  width: 80px;
  border-radius: 5px;
  float: left;
}

//----------- [ real state info ] -----------

.m-realState-info {
  background-color: white;
}

.m-realState-detailInfo {
  font-size: 14px;
  line-height: normal;
}

//----------- [ fields ] -----------

.m-field{
  border-radius : 4px;
  border: transparent;
  border-top : 3px solid #dbdbdb;
  background-color: $white;
}
.m-field.form-control:focus{
  background-color: $white;
  border: transparent;
  border-top : 3px solid teal;
}
.form-control-label{
  //@extend .gradient-text;
  color: teal;
}


/* ============[ Top Bar Dropdown ]=========== */

.Topbar_dropdown_container{
  padding-top: 10px;
  padding-right: 0;
  margin-right: -50px;
}

.Topbar_dropdown{

  .btn-group{
    width: 100%;
  }
  .dropdown-toggle.btn{
    margin-top: auto;
    margin-bottom: auto;
    font-weight: normal;
    color: black;
    width: 100%;
    transition: none;
    -webkit-box-shadow: none !important;
    box-shadow:none !important;
    font-size: 14px;

    &:hover{
      cursor: pointer;
    }
    &:focus{
      border-top: 3px solid teal;
    }
  }
  .dropdown-toggle{
    background-color: $white !important;
    border: transparent;
    border-top: 3px solid #dbdbdb;
    color: black !important;
    outline: none;
  }
  .dropdown-toggle::before{
    font-family: "FontAwesome";
    content: "\f078";
    border: none;
    float: left;
    color: gray;
  }
  .dropdown-toggle::after{
    content: none !important;
  }

  li{
    font-weight: $font-weight--light !important;
    font-size: 13px;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    color: black;

    &:active{
      background-color: transparent !important;
      outline: none;
    }
    &:hover{
      background-color: $white-two;
      cursor: pointer;
    }
  }
  .dropdown-menu{
    border: transparent;
    padding-top: 0;
    padding-bottom: 0;
    /* Rectangle 35: */
    background: #FFFFFF;
    width: 100%;
    box-shadow: 0 0 2px 0 rgba(0,0,0,0.15);
    border-radius: 3px;
  }

  .dropdown-divider{
    background-color: grey;
  }

  label{
    width: 100%;
    text-align: right;

    input{
      margin-left: 5px;
    }
  }

}

/* ============[ Hamkaran Style ]=========== */
.m-carousel-cell {
  width: 100%;
  height: auto;
  margin-right: 10px;
  counter-increment: gallery-cell;
  img{
    width: 120px;
  }
}
.flickity-page-dots .dot {
  width: 17px;
  height: 17px;
  background: #CBCBCB;
  transition: all 0.3s ease;
}
.flickity-page-dots .dot.is-selected{
  opacity: 1;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24) !important;
  transform: scale(1.3);
  background-color: #73F9D4 !important;
}

/* ============[ Digital Painting Style ]=========== */

.digitalPainting-title{
  margin-top: -90px;
}
.painting-comma{
  width: 50px;
}
.painting-comma.secondComma{
  position: absolute;
  bottom: 0;
  right: 0;
}

/* ============[ Main Filter Style ]=========== */
.m-curved-bg{
  width: 100%;
  z-index: 1000000;
  border-radius: 15px !important;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.22);
}
.m-gradient-placeholder{
  width: 99.5%;
  border-radius: 15px;
  margin: 0 auto 0 0;
  height: 124px;
  background-color: white;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.22);
}
.m-filters-placeholder{
  width: 100%;
  border-radius: 15px;
  height: 124px;
  background-color: #f4f4f4;

  label{
    color: #949494;
    font-size: 14px;
    font-weight: 300;
  }
}

@-webkit-keyframes gradientAnime {
  0%{background-position:0 50%}
  50%{background-position:100% 50%}
  100%{background-position:0 50%}
}
@-moz-keyframes gradientAnime {
  0%{background-position:0 50%}
  50%{background-position:100% 50%}
  100%{background-position:0 50%}
}
@keyframes gradientAnime {
  0%{background-position:0 50%}
  50%{background-position:100% 50%}
  100%{background-position:0 50%}
}

.filter-search-btn{
  height: 100%;
  border-radius: 15px 0 0 15px;
  //background: -webkit-gradient(linear, left top, left bottom, from(#007991), to(#63E7CA));
  //background: linear-gradient(-180deg, #007991 0%, #63E7CA 100%);
  border: none;
  color: white;
  cursor: pointer;
  display: grid;
  width: 100%;
  font-size: 17px;
  padding-top: 15px;

  background: linear-gradient(83deg, #007991, #63e7ca);
  background-size: 400% 400%;
  -webkit-animation: gradientAnime 12s ease infinite;
  -moz-animation: gradientAnime 12s ease infinite;
  animation: gradientAnime 12s ease infinite;

  i{
    font-size: 40px;
  }
}
// baraie rafe moshkele safari
.filter-search-btn:not(:root:root){
  height: 125px;
}


.m-filters-btn{
  height: 100%;
  text-align: center;
  background: white;
  cursor: pointer;
  border-width: 1px 1px 1px 0;
  border-style: solid;
  border-image: linear-gradient(-180deg, #007991 0%, #63E7CA 100%) 1 100%;

  i,.filter-selected{
    color: $filter-khakestari;
  }
  .filter-type{
    margin-top: 17px;
    font-size: 12px;
  }
  .filter-selected{
    font-size: 15px;
    direction: rtl;
  }
}

#filters-moamele-btn{
  border-radius: 0 15px 15px 0;
  border-right: 0;
}

#filters-row{
  z-index: 10000;
}
#filters-tray-row,#costs-tray-row,#metraj-tray-row{
  z-index: 0;
}
#costs-tray-row{
  margin-right: 30rem;
}
#metraj-tray-row{
  margin-right: 10rem;
}


/* ============[ Media Queries ]=========== */

// Large devices (desktops, less than 1200px)
@media (max-width: 1199px) {

}

// Medium devices (tablets, less than 992px)
@media (max-width: 991px) {
  #costs-tray-row{
    margin-right: 23rem;
  }
  #metraj-tray-row{
    margin-right: 8rem;
  }
}

// Medium devices (tablets, less than 992px)
@media (min-width: 992px) {

}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767px) {
  #costs-tray-row{
    margin-right: 10rem;
  }
  #metraj-tray-row{
    margin-right: 10rem;
  }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575px) {
  #costs-tray-row{
    margin-right: 20rem;
  }
  .m-gradient-placeholder,.m-filters-placeholder{
    height: 100%;
  }
  #filters-moamele-btn{
    border-radius: 0 0px 15px 15px;
    border-right: transparent;
  }
  .filter-search-btn{
    border-radius: 15px 15px 0 0;
  }
  .m-filters-btn{
    border-image: none;
    border: transparent;
    border-bottom: 0.3px solid teal !important;
  }
  #costs-tray-row{
    margin-right: 0rem;
    .row{
      padding-top: 7px;
      padding-bottom: 7px;
    }
  }
  #metraj-tray-row{
    margin-right: 0rem;
    .row{
      padding-top: 7px;
      padding-bottom: 7px;
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}
// extra code

@media screen and (max-width: 767px) {
  .navbar-nav {
    margin:0;
  }
  /* General styles for all menus */
  .cbp-spmenu {
    background: #f8f8f8;
    position: fixed;
    padding:0;
    margin:0 !important;
    overflow-x:hidden;
    overflow-y:visible;
    display:block;
  }
  .cbp-spmenu h3 {
    color: #afdefa;
    font-size: 1.9em;
    padding: 20px;
    margin: 0;
    font-weight: 300;
    background: #0d77b6;
  }
  .cbp-spmenu a {
    display: block;
  }
  /* Orientation-dependent styles for the content of the menu */
  .cbp-spmenu-vertical {
    width: 260px;
    height: 100%;
    top: 0;
    z-index: 1000;
  }
  .cbp-spmenu-horizontal {
    width: 100%;
    height: 150px;
    left: 0;
    z-index: 1000;
    overflow: hidden;
  }
  .cbp-spmenu-horizontal h3 {
    height: 100%;
    width: 20%;
    float: left;
  }
  .cbp-spmenu-horizontal a {
    float: left;
    width: 20%;
    padding: 0.8em;
    border-left: 1px solid #258ecd;
  }
  /* Vertical menu that slides from the left or right */
  .cbp-spmenu-left {
    left: -260px;
  }
  .cbp-spmenu-right {
    right: -260px;
  }
  .cbp-spmenu-left.cbp-spmenu-open {
    left: 0px;
  }
  .cbp-spmenu-right.cbp-spmenu-open {
    right: 0px;
  }
  /* Horizontal menu that slides from the top or bottom */
  .cbp-spmenu-top {
    top: -150px;
  }
  .cbp-spmenu-bottom {
    bottom: -150px;
  }
  .cbp-spmenu-top.cbp-spmenu-open {
    top: 0px;
  }
  .cbp-spmenu-bottom.cbp-spmenu-open {
    bottom: 0px;
  }
  /* Push classes applied to the body */
  .cbp-spmenu-push {
    overflow-x: hidden;
    position: relative;
    left: 0;
  }
  .cbp-spmenu-push-toright {
    left: 260px;
  }
  .cbp-spmenu-push-toleft {
    left: -260px;
  }
  /* Transitions */
  .cbp-spmenu,
  .cbp-spmenu-push {
    -webkit-transition: all 1.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
}
.navbar-toggle {
  border: none;
  background: transparent !important;
}
.navbar-toggle:hover {
  background: transparent !important;
}
.navbar-toggle .icon-bar {
  width: 22px;
  transition: all 0.2s;
}
.navbar-toggle .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}
.navbar-toggle .middle-bar {
  opacity: 0;
}
.navbar-toggle .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}
.navbar-toggle.collapsed .top-bar {
  transform: rotate(0);
}
.navbar-toggle.collapsed .middle-bar {
  opacity: 1;
}
.navbar-toggle.collapsed .bottom-bar {
  transform: rotate(0);
}


