//----------- [ navBar dashboard  ] -----------
.m-dashboad-nav-dropItem:active {
  background-color: $ocean !important;
}

.m-dashboard-headerMenu-item:hover {
  color: #37BED8 !important;
}

.khakestari-title{
  color: #616161;
}