/**
*
*	Name:			IRAN Sans-Serif Font
*	Version:		4.0
*	Author:			Moslem Ebrahimi (moslemebrahimi.com)
*	Created on:		Dec 25, 2012
*	Updated on:		Dec 12, 2015
*	Website:		http://fontiran.com
*	Copyright:		Commercial/Proprietary Software
--------------------------------------------------------------------------------------
فونت های ایران سن سریف یک نرم افزار مالکیتی محسوب می شود. جهت آگاهی از قوانین استفاده از این فونت ها لطفا به وب سایت (فونت ایران دات کام) مراجعه نمایید
--------------------------------------------------------------------------------------
IRAN Sans-serif fonts are considered a proprietary software. To gain information about the laws regarding the use of these fonts, please visit www.fontiran.com 
--------------------------------------------------------------------------------------
This set of fonts are used in this project under the license: (.....)
--------------------------------------------------------------------------------------
*	
**/
@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: bold;
	src: url('/fonts/IRANSansWeb_Bold.eot');
	src: url('/fonts/IRANSansWeb_Bold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
	url('/fonts/IRANSansWeb_Bold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
	url('/fonts/IRANSansWeb_Bold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
	url('/fonts/IRANSansWeb_Bold.ttf') format('truetype');
}
@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: 500;
	src: url('/fonts/IRANSansWeb_Medium.eot');
	src: url('/fonts/IRANSansWeb_Medium.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
	url('/fonts/IRANSansWeb_Medium.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
	url('/fonts/IRANSansWeb_Medium.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
	url('/fonts/IRANSansWeb_Medium.ttf') format('truetype');
}
@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: 300;
	src: url('/fonts/IRANSansWeb_Light.eot');
	src: url('/fonts/IRANSansWeb_Light.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
	url('/fonts/IRANSansWeb_Light.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
	url('/fonts/IRANSansWeb_Light.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
	url('/fonts/IRANSansWeb_Light.ttf') format('truetype');
}
@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: 200;
	src: url('/fonts/IRANSansWeb_UltraLight.eot');
	src: url('/fonts/IRANSansWeb_UltraLight.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
	url('/fonts/IRANSansWeb_UltraLight.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
	url('/fonts/IRANSansWeb_UltraLight.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
	url('/fonts/IRANSansWeb_UltraLight.ttf') format('truetype');
}
@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: normal;
	src: url('/fonts/IRANSansWeb.eot');
	src: url('/fonts/IRANSansWeb.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
	url('/fonts/IRANSansWeb.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
	url('/fonts/IRANSansWeb.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
	url('/fonts/IRANSansWeb.ttf') format('truetype');
}

//----------- [ font icon  ] -----------

@font-face {
	font-family: 'icomoon';
	src:  url('../../fonts/icomoon.eot?ry91mm');
	src:  url('../../fonts/icomoon.eot?ry91mm#iefix') format('embedded-opentype'),
	url('../../fonts/icomoon.ttf?ry91mm') format('truetype'),
	url('../../fonts/icomoon.woff?ry91mm') format('woff'),
	url('../../fonts/icomoon.svg?ry91mm#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-rocket .path1:before {
	content: "\e928";
	color: rgb(50, 77, 91);
}
.icon-rocket .path2:before {
	content: "\e929";
	margin-left: -1em;
	color: rgb(239, 199, 94);
}
.icon-rocket .path3:before {
	content: "\e92a";
	margin-left: -1em;
	color: rgb(222, 185, 87);
}
.icon-rocket .path4:before {
	content: "\e92b";
	margin-left: -1em;
	color: rgb(38, 166, 209);
}
.icon-rocket .path5:before {
	content: "\e92c";
	margin-left: -1em;
	color: rgb(23, 149, 191);
}
.icon-rocket .path6:before {
	content: "\e92d";
	margin-left: -1em;
	color: rgb(23, 149, 191);
}
.icon-rocket .path7:before {
	content: "\e92e";
	margin-left: -1em;
	color: rgb(239, 199, 94);
}
.icon-rocket .path8:before {
	content: "\e92f";
	margin-left: -1em;
	color: rgb(91, 113, 124);
}
.icon-rocket .path9:before {
	content: "\e930";
	margin-left: -1em;
	color: rgb(242, 108, 79);
}
.icon-rocket .path10:before {
	content: "\e931";
	margin-left: -1em;
	color: rgb(244, 240, 211);
}
.icon-rocket .path11:before {
	content: "\e932";
	margin-left: -1em;
	color: rgb(139, 160, 171);
}
.icon-rocket .path12:before {
	content: "\e933";
	margin-left: -1em;
	color: rgb(50, 77, 91);
}
.icon-rocket .path13:before {
	content: "\e934";
	margin-left: -1em;
	color: rgb(20, 131, 168);
}
.icon-rocket .path14:before {
	content: "\e935";
	margin-left: -1em;
	color: rgb(242, 108, 79);
}
.icon-rocket .path15:before {
	content: "\e936";
	margin-left: -1em;
	color: rgb(218, 211, 175);
}
.icon-rocket .path16:before {
	content: "\e937";
	margin-left: -1em;
	color: rgb(242, 108, 79);
}
.icon-more:before {
	content: "\e938";
}
.icon-close:before {
	content: "\e939";
}
.icon-power:before {
	content: "\e93a";
}
.icon-advertising .path1:before {
	content: "\e93b";
	color: rgb(64, 89, 107);
}
.icon-advertising .path2:before {
	content: "\e93c";
	margin-left: -1em;
	color: rgb(242, 242, 242);
}
.icon-advertising .path3:before {
	content: "\e93d";
	margin-left: -1em;
	color: rgb(205, 214, 224);
}
.icon-advertising .path4:before {
	content: "\e93e";
	margin-left: -1em;
	color: rgb(205, 214, 224);
}
.icon-advertising .path5:before {
	content: "\e93f";
	margin-left: -1em;
	color: rgb(242, 242, 242);
}
.icon-advertising .path6:before {
	content: "\e940";
	margin-left: -1em;
	color: rgb(172, 179, 186);
}
.icon-advertising .path7:before {
	content: "\e941";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-advertising .path8:before {
	content: "\e942";
	margin-left: -1em;
	color: rgb(242, 242, 242);
}
.icon-advertising .path9:before {
	content: "\e943";
	margin-left: -1em;
	color: rgb(255, 112, 88);
}
.icon-advertising .path10:before {
	content: "\e944";
	margin-left: -1em;
	color: rgb(64, 89, 107);
}
.icon-advertising .path11:before {
	content: "\e945";
	margin-left: -1em;
	color: rgb(172, 179, 186);
}
.icon-advertising .path12:before {
	content: "\e946";
	margin-left: -1em;
	color: rgb(255, 112, 88);
}
.icon-advertising .path13:before {
	content: "\e947";
	margin-left: -1em;
	color: rgb(51, 74, 94);
}
.icon-advertising .path14:before {
	content: "\e948";
	margin-left: -1em;
	color: rgb(172, 179, 186);
}
.icon-advertising .path15:before {
	content: "\e949";
	margin-left: -1em;
	color: rgb(255, 209, 92);
}
.icon-advertising .path16:before {
	content: "\e94a";
	margin-left: -1em;
	color: rgb(255, 112, 88);
}
.icon-advertising .path17:before {
	content: "\e94b";
	margin-left: -1em;
	color: rgb(255, 112, 88);
}
.icon-advertising .path18:before {
	content: "\e94c";
	margin-left: -1em;
	color: rgb(255, 112, 88);
}
.icon-i:before {
	content: "\e94d";
}
.icon-icon-user-second:before {
	content: "\e94e";
}
.icon-rounded-plus:before {
	content: "\e94f";
}
.icon-placeholder--round:before {
	content: "\e927";
}
.icon-castle:before {
	content: "\e926";
}
.icon-telegram-icon-logo:before {
	content: "\e925";
}

.icon-navigate-up-arrow:before {
	content: "\e901";
}
.icon-round-done-button:before {
	content: "\e902";
}
.icon-menu-3line:before {
	content: "\e903";
}
.icon-telegram-l:before {
	content: "\e904";
}
.icon-android-logo:before {
	content: "\e905";
}
.icon-apple:before {
	content: "\e906";
}
.icon-bed:before {
	content: "\e907";
}
.icon-checked-list:before {
	content: "\e908";
}
.icon-check-mark:before {
	content: "\e909";
}
.icon-coins:before {
	content: "\e90a";
}
.icon-expand-button:before {
	content: "\e90b";
}
.icon-facebook-logo-button:before {
	content: "\e90c";
}
.icon-grid:before {
	content: "\e90d";
}
.icon-hammer:before {
	content: "\e90e";
}
.icon-home:before {
	content: "\e90f";
}
.icon-icon:before {
	content: "\e910";
}
.icon-instagram:before {
	content: "\e911";
}
.icon-instagram-logo:before {
	content: "\e912";
}
.icon-inverted-commas:before {
	content: "\e913";
}
.icon-list:before {
	content: "\e914";
}
.icon-location-pin:before {
	content: "\e915";
}
.icon-manager:before {
	content: "\e916";
}
.icon-new-email-back-closed-envelope-symbol:before {
	content: "\e917";
}
.icon-parking:before {
	content: "\e918";
}
.icon-phone-call:before {
	content: "\e919";
}
.icon-phone-receiver:before {
	content: "\e91a";
}
.icon-photo-camera:before {
	content: "\e91b";
}
.icon-photo-symbol-for-interface:before {
	content: "\e91c";
}
.icon-placeholder:before {
	content: "\e91d";
}
.icon-search:before {
	content: "\e91e";
}
.icon-share:before {
	content: "\e91f";
}
.icon-tape-measure:before {
	content: "\e920";
}
.icon-telegram:before {
	content: "\e921";
}
.icon-time:before {
	content: "\e922";
}
.icon-twitter-logo-button:before {
	content: "\e923";
}
.icon-user:before {
	content: "\e924";
}




